In [1]:
import pandas as pd

dataset = pd.read_excel("../data/raw/Tierra_Del_Fuego_Delitos.xlsx") #importo el dataset

dataset.head()

,"Delitos con intervención policial por mes, según tipo de delito. Provincia de Tierra del Fuego AeIAS. Años 2014-2023",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 116,Unnamed: 117,Unnamed: 118,Unnamed: 119,Unnamed: 120,Unnamed: 121,Unnamed: 122,Unnamed: 123,Unnamed: 124,Unnamed: 125
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tipo de Delito,NaN,NaN,2014,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,ene,feb,mar,abr,may,jun,jul,ago,sept,...,dic,NaN,ene,feb,mar,abr,may,jun,jul,ago
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Total Hechos delictuosos,453,524,606,579,558,664,643,573,598,...,912,NaN,881,768,946,810,918,845,805,984